$blue: #3863A0;
$green: #3DBE8B;

.m-halfbleed{
  min-height: 100vh;
  display: flex;
  
  &__element{
    flex-grow: 1;
    flex-shrink:  1;
    flex-basis:  100%;
    
    padding: 40px;
    
    // also the element is a wrapper on its own
    display: flex;
    flex-direction: column;
    
    // Use justify-content instead of align-items due to flex-direction is `column`
    justify-content: center;
    
    &:first-child{
      color: $blue;
      background: lighten($green, 45%);
    }
    
    &:last-child{
      color: $green;
    }
    
    > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: center;
    }
    img{
      display: block;
      max-width: 100%;
    }
  }
  
  @media only screen and (max-width: 768px){
    flex-direction: column;
  }
}
