.m-halfbleed {
  min-height: 100vh;
  display: flex;
  &__element {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > * {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: center;
    }
    img {
      display: block;
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
